@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: #1f2029;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
}
input {
    font-family: 'Poppins', sans-serif;
}
input #flip {
    margin-bottom: 20px;
}
.fu {
    display: hidden;
}
.maincontainer {
    position: relative;
    margin-top: 2px;
    width: 470px;
    height: 620px;
    color: rgb(0, 0, 0);
    perspective: 1000px;
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 auto;
    transform-style: preserve-3d;
    transition: all 1s ease;
    border-radius: 6px;
    box-shadow: 5px 8px 24px 0 rgba(255,235,167,.2);

}
h1 {
    color: #ffd344;
}
.cardback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: black;
}
.cardfront, .cardback {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-repeat: no-repeat;
    background-size: 300%;
    transform-style: preserve-3d;
}
.cardfront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: black;
    transform: rotateY(180deg)
}
label {
    width: fit-content;
    color: #ffeba7;
}
label:hover {
    width: fit-content;
    color: #ffd344;
    animation-duration: 1s; 
}
#flip:checked ~ #thecard     {
    transform: rotateY(180deg);
}

.center-block {
    margin: auto;
    display: block;
    text-align: center;
    margin-bottom: 1px;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title {

    margin-top: 50px;
    margin-bottom: 20px;
}
.input-control {
    width: 40%;
    height: 10%;
    background-color: transparent;
    border: none;
    color: #ffd344;
    text-align: center;
        
}
input:focus {
    width: 60%;
    border-bottom: #ffd344 1px solid;
    transition: 0.6s;
    outline: none;
}
.center-block button {
    margin-top: 2%;
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;    
    display: inline-flex;
    align-items: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #ffeba7;
    color: #102770;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}

.center-block button:active,
.center-block button:focus{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  outline:none;
}
.center-block button:hover{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

.login-title {
    margin-top: 90px;
    margin-bottom: 20px;

}